[user]
	email = developer@brunofontes.net
	name = Bruno Fontes
[core]
	editor = vim
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	verbose = true
[init]
	templatedir = ~/.git_template
